* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #f7f7f7; */
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.form-section, .summary-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
h3{
    margin: 15px 0 0 0 !important;
    font-weight: bold !important;
    font-size: 20px !important;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px !important;
    outline: none;
    font-size: 13px !important;
}

textarea {
    resize: none;
}

.form-group {
    display: flex;
    gap: 10px;
}

.form-group div {
    flex: 1;
}

/* Order Summary Section */
.summary-section h3 {
    margin-bottom: 20px;
}

.summary-section .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summary-section .item-details {
    flex: 1;
    margin-left: 10px;
}

.summary-section .item-price {
    text-align: right;
}

/* Tip Section */
.tip-options {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.tip-btn {
    background-color: white;
    border: 2px solid #d9534f;
    color: #d9534f;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    margin: 0 5px;
}

.tip-btn.active {
    background-color: #d9534f;
    color: white;
}

.summary-section .total {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .form-section, .summary-section {
        width: 100%;
    }
}