/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Section */
.hero-section {
    background-image: url('images/10\ restaurants\ in\ Mumbai\ that\ offer\ the\ best\ sunset\ views.webp'); /* Use your image URL here */
    background-size: cover;
    background-position: center;
    height: 400px; /* Full viewport height */
    position: relative;
    display: flex;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-height: 400px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4); /* Black with transparency */
    color: white;
    padding: 145px;
    text-align: center;
    width: 100%;
    /* max-width: 800px; */
    border-radius: 10px;

    align-items: center;
}

.overlay > h1 {
    font-size: 48px;
    margin-bottom: 10px;
}


.overlay > p {
    font-size: 20px;
    color: white;
}


h1 {
    font-size: 50px;
    margin: 0;
}

p {
    font-size: 20px;
    margin-top: 10px;
}

/* Restaurant Section */
.restaurants {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}

.restaurant-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Individual Card */
.card {
    background-color: #fff;
    width: 22%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    text-align: center;
    padding: 15px;
}

.card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card > div > h3 {
    font-size: 18px;
    margin-top: 10px;
}

.discount {
    font-weight: bold;
    color: #FF4500;
    margin: 5px 0 0 0;
    
}

.cuisine {
    color: gray;
    margin-bottom: 5px;
    font-size: 12px;
}

.rating {
    margin-top: 0;
    color: #FFD700;
}

.menu-btn {
    text-decoration: none;
    background-color: #FF4500;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.menu-btn:hover {
    text-decoration: none;
    background-color: #e63900;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .restaurant-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}
