* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}
.container-width{
  width: 90%;
  max-width: 1400px;
  margin: 40px auto;
}
.hero-section {
    background-image: url('images/10\ restaurants\ in\ Mumbai\ that\ offer\ the\ best\ sunset\ views.webp'); /* Use your image URL here */
    background-size: cover;
    background-position: center;
    height: 400px; /* Full viewport height */
    position: relative;
    display: flex;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-height: 400px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4); /* Black with transparency */
    color: white;
    padding: 145px;
    text-align: center;
    width: 100%;
    /* max-width: 800px; */
    border-radius: 10px;

    align-items: center;
}

.overlay > h1 {
    font-size: 48px;
    margin-bottom: 10px;
}


.overlay > p {
    font-size: 20px;
    color: white;
}


h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}
.big-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    /* width: 80%; */
    max-width: 900px;
}

.item-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.item-card:hover {
    transform: scale(1.05);
}

.item-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.item-card h3 {
    margin: 15px 0 10px;
    text-align: left;
    height: 40px;
    height: 30px;
}

.item-card p {
    font-size: 18px;
    padding-top: 5px;
    margin-bottom: 15px;
    text-align: left;
}

.item-card button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.item-card button:hover {
    background-color: #e64a19;
}

/* Responsive styling */
@media (max-width: 768px) {
    .item-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 576px) {
    .item-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}