 /* orders css  */
 .space {
     padding: 50px 0;
 }

 .main {
     font-family: 'Poppins', sans-serif;
     max-width: 1280px;
     margin: 0 auto;
 }

 .title {
     width: 100%;
     margin: 0 auto;
     font-weight: 600;
     font-size: 36px;
 }

 .orders-table-container {
     width: 100%;
     margin: 20px auto;
     background-color: #fff;
     padding: 20px;
     border-radius: 17px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .orders-table {
     width: 100%;
     border-collapse: collapse;
 }

 .orders-table td {
     padding: 16px 12px;
     font-size: 16px;
 }

 .orders-table tr {
     border-bottom: 1px solid #ddd;
 }

 .orders-table thead th:first-child {
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
 }

 .orders-table thead th:last-child {
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
 }

 .orders-table thead th {
     background-color: #f1f1f1;
     padding: 12px;
     font-size: 18px;
     font-weight: 500;
 }


 .orders-table .order-item {
     display: flex;
     align-items: center;
     max-width: 250px;
     white-space: normal;
     word-wrap: break-word;
     overflow-wrap: break-word;
     box-sizing: border-box;
     text-align: left;
 }

 .orders-table .order-item img {
     width: 60px;
     height: 60px;
     border: 1px solid #ddd;
     margin-right: 10px;
     border-radius: 10px;
     object-fit: contain;
 }

 .failed {
     background: #ebe85d6e;
     padding: 10px;
     border-radius: 8px;
     color: #5e5c00;
 }

 .Completed {
     background: #66dd666e;
     padding: 10px;
     border-radius: 8px;
     color: #084208;
 }

 .address-col {
     max-width: 200px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 .navbar .menu {
     display: none;
 }

 .responsive-navbar {
     display: none;
 }

 @media (max-width: 992px) {
     .navbar .menu {
         display: block;
         cursor: pointer;
         user-select: none;
     }

     .navbar .nav-links {
         display: none;
     }

     .navbar .search {
         display: none;
     }

     .navbar {
         padding: 20px;
     }

     .responsive-navbar {
         display: block;
         background: white;
         height: 0px;
         overflow: hidden;
         padding-top: 77px;
         text-align: center;
         transition: 0.3s all ease-in-out;
     }

     .responsive-navbar .nav-links {
         margin: 10px 0;
     }

     .responsive-navbar .nav-links li {
         margin-top: 10px;

     }

     .responsive-navbar .nav-links li a {
         font-size: 16px;
         color: black;
     }

     .responsive-navbar .session-links .signout {
         padding: 7px 10px;
         background-color: #ca2121;
         border-radius: 5px;
         text-decoration: none;
         color: white;
         font-size: 14px;
     }

     .responsive-navbar .session-links .login {
         padding: 10px 20px;
         background-color: #ca2121;
         border-radius: 5px;
         text-decoration: none;
         color: white;
         font-size: 16px;
     }

     .responsive-navbar form {
         display: flex;
         flex-direction: column;
         width: 100%;
         gap: 10px;
         margin: 10px auto;
         align-items: center;
     }

     .responsive-navbar form .search-input {
         padding: 6px 10px;
         border: 1px solid lightgray;
         color: black;
         font-size: 16px;
         border-radius: 6px;
         outline: none;
         width: 70%;
     }

     .responsive-navbar form .search-input:focus {
         box-shadow: 0 0 0px 3px #0005b32e;
         border: 1px solid #9396ff;
     }

     .responsive-navbar form .search-btn {
         padding: 5px 10px;
         font-size: 14px;
         background: black;
         border: 1px solid black;
         border-radius: 6px;
         color: white;
         cursor: pointer;
     }

     .open {
         height: 310px;
     }

     .orders-table-container{
        overflow-x: scroll;
     }

     .main{
        padding: 20px;
     }
 }

 @media (max-width: 525px){
    .main{
        max-width: 425px;
        padding: 12px;
    }

    .title{
        font-size: 24px;
    }

    .orders-table thead th, .orders-table td{
        font-size: 16px;
        width: 170px;
    }

 }