body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1140px;
    margin: auto;
  }

  
  header {
    background-color: #d5761d;
  }
  
  .container {
    max-width: 800px;
  }
  
  footer-icon {
    background-color: #343a40;
  }

  .social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid hsl(0, 0%, 100%);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #ffffff;
  }
  
  .social-icons a:hover {
    color: black;
    transform: scale(1.0) translateY(-4px);
    background-color: #ffb168;
    text-decoration: none;
  }
  
  .footer-icon {
    background-color: var(--background-color);
    text-align: center;
  }
  
  .footer-icon .share {
    padding: 1rem 0;
  }
  
  .footer-icon .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--text-color);
    border: var(--border);
    margin: 0.3rem;
    border-radius: 50%;
  }
  

  
  .footer-icon .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    gap: 10px;
  }
  
  .footer-icon .links a {
    padding: 0.7rem 2rem;
    color: var(--text-color);
    border: var(--border);
    font-size: 2rem;
  }
  
  .footer-icon .links a:hover {
    background-color: var(--background-color);
  }